{% assign display_title = include.item.title %}
{% if include.use_home_title and include.item.home_title and include.item.home_title != "" %}
  {% assign display_title = include.item.home_title %}
{% endif %}
<article class="news-item">
  <div class="news-item__meta">
    <span class="news-item__kind">{{ include.item.kind }}</span>
    <time datetime="{{ include.item.date | date_to_xmlschema }}">{{ include.item.date | date: "%-d %b %Y" }}</time>
  </div>
  <div class="news-item__body">
    <h3 class="news-item__title">
      {% if include.item.external_url and include.item.external_url != "" %}
        <a href="{{ include.item.external_url }}">{{ display_title }}</a>
      {% else %}
        {{ display_title }}
      {% endif %}
    </h3>
    {% if include.item.summary and include.item.summary != "" %}
      <p class="news-item__summary">{{ include.item.summary | strip }}</p>
    {% endif %}
  </div>
</article>
